html{
	text-align: center;
}

body{
		background:#C8CCD2;
		font-family: arial;
		font-size: 23px;
}


header{
	background: #CFD3D9;
	height: 170px;
}

#my{
	padding-top: 30px;
	text-align: center;
}

#points{
	color: #FF3700;
	font-size: 40px;
	margin-top: -50px;
	padding-left: 50px;
	padding-right: 50px;

}

h2{
	background: #CFD3D9;
	color: #FF3700;
	margin-left: 470px;
	margin-right: 470px;
	margin-top: -20px;

	padding-top: 115px;
	padding-bottom: 15px;
}

h5{
	font-size: 16px;
	color: #394465;
}

#USSR{
	font-size: 40px;
}
#snowmens{
	font-size: 40px;
}

#happy{
	background: #FF3700;
	
	margin-left: 470px;
	margin-right: 470px;
	margin-top: -20px;

	padding-top: 20px;
	padding-bottom: 15px;

	font-size: 20px;
	color: #FFFFFF; 
}

#about_me{
	text-align: left;
	font-size: 16px;
	padding-left: 120px;
	padding-right: 120px;
	color: #394465;

}

#cocial_net{
	background: #CFD3D9;
	text-align: left;
	font-size: 16px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

a{
	color: #757881;
}
form{
	background: #A5A9AF;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 100px;
}

p{
	color: #394465;
	font-size: 16px;
}

audio{
	background:#C8CCD2;
	color: #C8CCD2;
}

iframe{
		margin-top: 40px;
}

footer{
	margin-top: -85px;
}

/*}
header span{
	background: #A69E96;
}
*/


/*
header{
	background: #4A4F55;
	padding: 15px;
	margin-bottom: 35px;
	text-align: center;
	color: #EB7F7F;
	font-size: 40px;
}

header span{
	font-size: 23px;
}

*/


/*div span{
	color: #FFFFFF;
	font-size: 18px;
}

/*.input{
	font-size: 40px;
	height: 50px;
}

.list{
	background-color: #88849F;
	border-top: none;
	border-bottom: none;
	margin-left: 400px;
	margin-right: 400px;
	padding: 12px;	
	color: #C1BDD8;
	font-size: 12px;
}	

.list:hover{
	background-color: #5F5F73;
	border-top: 3px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
}	

/*option:checked{
	border: 8px solid #FFFFFF;
	padding: 12px;	
}

div:nth-last-child(2n).list{
	 background-color:#7A7593;
	}

.bon_appetit{
	background-color: #4A4F55;
	margin-left: 400px;
	margin-right: 400px;
	padding: 10px;
	margin-top: 35px;	
	color: #EB7F7F;
	text-align: center;
}

*/